<!DOCTYPE html>
<html>
	<head>
		<% include head %>
		<style type="text/css">
			p { max-width: 500px; }
		</style>
	</head>

	<body>
		<% include header %>
		<script type="text/javascript">document.getElementById("about").className="active";</script>

		<div id="main">
			<h1>About</h1>
			<p>Description of this app...</p><br>
			<p>
				With this app, users can enter a code to join up in a common chat channel with many other users such as classmates, co-workers, family-members, etc. After signing in, a user can start a new channel and invite others to join by sharing the channel code with them. All chat history is saved in the channel, so users can go back to see messages that were posted earlier.
			</p><br>
			<p>
				This app will allow people around the world to collaborate, share, and communicate with ease!
			</p>
		</div>

		<% include footer %>
	</body>
</html>