<!DOCTYPE html>
<html>
<head>
    <title>Assignments</title>
</head>

<body>
    <h1>ASSIGNMENTS:</h1>
    <ul>
        <li><a href="prove09"></a></li>
        <li><a href="prove10"></a></li>
        <li><a href="prove11"></a></li>
        <li><a href="prove12"></a></li>
        <li><a href="prove13"></a></li>
        <li><a href="prove14"></a></li>
        <li><a href="test.html"></a></li>
    </ul>
</body>
</html>