<!DOCTYPE html>
<html>
<head>
    <title>Assignments</title>
</head>

<body>
    <h1>ASSIGNMENTS:</h1>
    <ul>
        <li><a href="prove09.html">Prove09</a></li>
        <li><a href="prove10.html">Prove10</a></li>
        <li><a href="prove11.html">Prove11</a></li>
        <li><a href="prove12.html">Prove12</a></li>
        <li><a href="prove13.html">Prove13</a></li>
        <li><a href="prove14.html">Prove14</a></li>
    </ul>
</body>
</html>