<!DOCTYPE html>
<html>
<head>
    <title>Assignments</title>
</head>

<body>
    <h1>ASSIGNMENTS:</h1>
    <ul>
        <li><a href="prove09.html"></a></li>
        <li><a href="prove10.html"></a></li>
        <li><a href="prove11.html"></a></li>
        <li><a href="prove12.html"></a></li>
        <li><a href="prove13.html"></a></li>
        <li><a href="prove14.html"></a></li>
    </ul>
</body>
</html>