<!DOCTYPE html>
<html>
    <head>
        <% include head %>
        <script type="text/javascript">
            // GET chat msgs
            window.onload = function fetchMsgs() {
                $.get("/channel/1", (res) => {displayMsgs(res)});
                connect(); //connect to websockets
            }

            //scrolling msgs to bottom
            function scroll() {
                var m = document.getElementById("msgs");
                m.scrollTop = m.scrollHeight;
            }
        </script>
    </head>

    <body>
        <% include header %>
        <script type="text/javascript">document.getElementById("home").className="active";</script>

        <div id="main">
                <h1>PEYTON'S CHAT</h1>

                <div id="msgs">
                    <!-- MESSAGES WILL BE DISPLAYED HERE -->
                </div>

                <div id="createMsg">
                    <form id="msgForm" autocomplete="off">
                        <textarea name="content" placeholder="Send a message"></textarea><button onclick="sendMsg();">SEND</button>
                    </form>
                </div>
        </div>

        <% include footer %>
    </body>
</html>
