<div id="head">
    <div id="banner">
        <h1>Express Project</h1>
    </div>

    <ul id="nav">
        <li id="home"><a href="/">HOME</a></li>
        <li id="about"><a href="/about">ABOUT</a></li>
    </ul>

    <div id="joinCode" style="position: absolute; right: 10px; top: 10px;">
    </div>
</div>