<!DOCTYPE html>
<html>
	<head>
		<% include head %>
		<script type="text/javascript">
			//
		</script>
		<style type="text/css">
			table, td { border: none; }
			td:first-child {text-align: right; }
		</style>
	</head>

	<body>
		<% include header %>
		<script type="text/javascript">document.getElementById("home").className="active";</script>

		<div id="main">
			<h1>PEYTON'S CHAT</h1>
			<p>Welcome to Peyton's Chat App! Login and enter a channel join code to begin.</p>

			<div id="login">
				<div style="margin: 0px auto 0px auto;">
					<table align="center">
						<tr><td>USERNAME:</td><td><input type="text" name="uname"></td></tr>
						<tr><td>PASSWORD:</td><td><input type="password" name="pwd"></td></tr>
						<tr><td>CHANNEL CODE:</td><td><input type="text" name="joinCode"></td></tr>
					</table>
				</div>
			</div>
		</div>

		<% include footer %>
	</body>
</html>
