<!DOCTYPE html>
<html>
	<head>
		<% include head %>
		<script type="text/javascript">
			// function display(rows) {
			// 	for (var i = 0; i < rows.length; i++) {
			// 		document.getElementById("chart").innerHTML += "<tr><td>rows[i].joinCode</td></tr>";
			// 	}
			// }
		</script>
	</head>

	<body>
		<% include header %>
		<script type="text/javascript">document.getElementById("home").className="active";</script>

		<div id="main">
				<h1>PEYTON'S CHAT</h1>
				<p>Welcome to Peyton's Chat!</p>

				<table id="chart">
						<tr><th onload="">CHANNEL CODES:</th></tr>
				</table>

				<div class="msgDiv">
					<div class="post">
						<p>MESSAGE 1</p>
					</div>
				</div>
				<div class="msgDiv">
					<div class="mine post">
						<p>MESSAGE 2: So I really really really like this class because it's just so much fun, and I really like developing web applications like this one. I hope it turns out good so people will be impressed when I present this project!</p>
					</div>
				</div>
				<div class="msgDiv">
					<div class="post">
						<p>MESSAGE 3</p>
					</div>
				</div>
		</div>

		<% include footer %>
	</body>
</html>
