<!DOCTYPE html>
<html>
  <head>
    <% include head %>
  </head>

  <body>
    <% include header %>
    <script type="text/javascript">document.getElementById("home").className="active";</script>

    <div id="main">
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>

        <table>
            <tr><th>HEADER:</th></tr>
            <tr><td>item1</td></tr>
            <tr><td>item2</td></tr>
        </table>
    </div>

    <% include footer %>
  </body>
</html>
