<!DOCTYPE html>
<html>
	<head>
		<% include head %>
		<script type="text/javascript">
			// function display(rows) {
			// 	for (var i = 0; i < rows.length; i++) {
			// 		document.getElementById("chart").innerHTML += "<tr><td>rows[i].joinCode</td></tr>";
			// 	}
			// }
		</script>
	</head>

	<body>
		<% include header %>
		<script type="text/javascript">document.getElementById("home").className="active";</script>

		<div id="main">
				<h1>PEYTON'S CHAT</h1>
				<p>Welcome to Peyton's Chat!</p>

				<table id="chart">
						<tr><th onload="">CHANNEL CODES:</th></tr>
				</table>
		</div>

		<% include footer %>
	</body>
</html>
